html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    height: 5em;
}

main {
    flex: auto;
    background-color: #ccc;
}

footer {
    height: 2em;
}

img {
    padding: 8px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: orange;
    font-size: 1em;
}

li {
    float: left;
    padding: 1em;
}
