@import "layout.css";

.ordre {
    font-size: 40px;
    color: #ffc84d;
    margin: 1em 2em ;

}

main {
    display: flex;
    flex-direction: column;
}

table {
    table-layout: auto;
    border: 6px solid #834f00;
    border-collapse: collapse;
    margin: 1em 5% 1em 5%;
}

thead{
    background-color: #dfa033;
}

thead th:nth-child(1) {
    width: 50%;
}

thead th:nth-child(2) {
    width: 50%;
}


th,td {
    padding: 1em 1em 1em 1em;
    border : 2px solid #834f00;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #ffae67;
}

tbody tr:nth-child(even) {
    background-color: #cf7327;
}

