@import "layout.css";

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    max-width: 100%;
}

#titre {
    font-family: "Noto Sans Devanagari Condensed SemiBold", system-ui;
    font-size: 240%;
    color: #d18717;
    padding: 35px 35px 35px 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-ajout {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    border: 3px solid #d18717;
    margin: 20px auto;
    padding: 20px;
}

.rangee{
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.plats{
    margin : 55px;
    align-items: center;
}

.imgplat{
    border: 3px solid #d18717;
    width: 300px;
    justify-items: center;
}

.ingredient{
    width: 300px;
}

.ingredientDiv {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.deleteIngrButton {
    width: revert;
    align-content: center;
    margin-right: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #d18717;
    border: 1px solid #d18717;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a.active {
    background-color: var(--main-color);
    color: white;
}

.pagination a:hover {
    background-color: rgba(255, 99, 71, 0.7);
    color: white;
}

.pagination a.prev,
.pagination a.next {
    font-weight: bold;
}