@import "layout.css";
img {
    max-width: 100%;
}

#titre {
    font-family: "Noto Sans Devanagari Condensed SemiBold", system-ui;
    font-size: 240%;
    color: #d18717;
    padding: 35px 35px 35px 50px;
}

.plats-container {
    display: flex;
    flex-direction: column;

}

.rangee{
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.plats{
    size: 100px;
    margin : 15px;


}

.imgplat{
    border: 1px solid #d18717;
    width: 300px;
    justify-items: center;
}

.ingredient{
    width: 300px;
}

.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #f9f9f9;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a.active {
    background-color: #f9f9f9;
    color: white;
}

.pagination a:hover {
    background-color: rgba(255, 99, 71, 0.7);
    color: white;
}

.pagination a.prev,
.pagination a.next {
    font-weight: bold;
}