@import "layout.css";

main {
    flex-direction: column;
}

#titre {
    font-family: "Noto Sans Devanagari Condensed SemiBold", system-ui;
    font-size: 240%;
    color: #d18717;
    padding: 35px 35px 5px 5%;
}

.repas {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 33px;

    border-style: solid;
    border-width: 2px;
    border-color: #d18717;
    width: 90%;
}

.colonneL {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin-left: 2%;
}

.colonneML {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
}

.colonneR {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Responsive sur téléphone*/
@media (max-width: 768px) {
    .repas {
        font-size: 0.6rem;
    }

    .colonneML {
        margin-left: 15px;
    }
}

/* Style pour la pagination */
.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a.active {
    background-color: var(--main-color);
    color: white;
}

.pagination a:hover {
    background-color: rgba(255, 99, 71, 0.7);
    color: white;
}

.pagination a.prev,
.pagination a.next {
    font-weight: bold;
}